>>> body {
  margin: 0;
}

.blog-card {
  margin: 1vh 1vw 1vh 1vw;
  padding: 1vw;
}

mat-dialog-actions {
  display: block;
}

.blogPostForm {
  width: 95vw;
}

.blogPostCard {
  background-color: #FFFFCC;
}

.blogPostContent {
  min-height: 30vh;
  text-align: justify;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 1.5vmax;
}

textarea {
  height: 20vh;
  resize: vertical;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  font-size: 1.5vmax;
}
