<mat-card *ngFor="let blogPost of blogPosts" class="blogPostCard mat-elevation-z10 blog-card">
  <mat-card-content>
    <p>{{blogPost.content}}</p>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z10 blog-card">
  <mat-card-title>
    Write a new blog post!
  </mat-card-title>

  <mat-card-content>
    <mat-dialog-content>

      <mat-form-field [formGroup]="form" class="blogPostForm">
        <textarea formControlName="blogPostContent"
                  matInput
                  placeholder="Start typing here..."></textarea>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary" (click)="saveBlogPost()">
        Save
      </button>
    </mat-dialog-actions>
  </mat-card-content>

</mat-card>
