<mat-card class="mat-elevation-z10 blog-card">
  <mat-card-title>
    Write a new blog post!
  </mat-card-title>

  <mat-card-content>
    <mat-dialog-content>

      <mat-form-field [formGroup]="form" appearance="standard" class="blogPostForm">
        <textarea formControlName="blogPostContent"
                  matInput
                  placeholder="Start typing here..."></textarea>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button (click)="saveBlogPost()" class="mat-raised-button mat-primary">
        Save
      </button>
    </mat-dialog-actions>
  </mat-card-content>

</mat-card>

<mat-card *ngFor="let blogPost of blogPosts" class="blogPostCard mat-elevation-z10 blog-card">
  <mat-card-content class="blogPostContent">
    <div>{{blogPost.content}}</div>
  </mat-card-content>
</mat-card>
